<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
  <head>
    <!-- File saved as ISO-8859-1 encoding. -->
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta http-equiv="refresh" content="15">
    <title>HTML Layout </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS Framework -->
    <link rel="stylesheet" href="/static/css/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/print.css" type="text/css" media="print">

    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <!--[if lt IE 8]><link rel="stylesheet" href="/static/css/ie.css" type="text/css" media="screen, projection"><![endif]-->

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/semantic.css" type="text/css" media="screen, projection">

    <!-- Number of columns: 24
         Column width: 34
         Gutter width: 8
         Total width: 1000
         Row height: 18 px  -->

    <!-- To remove div outlines, remove line below. -->
    <!--style>div {outline:1px solid #000000;}</style-->

  </head>
  <body>

    <div id="container">
    
        <div class="span-8" style="height:360px;">
        
            <div id="TEMPERATURA">
            <h1>{{"{0:0.1f}".format(temp)}}°C</h1>
            </div><!--  end TEMPERATURA -->
            
            <div id="BOX1">
		    <h1>info</h1>
            </div><!--  end BOX1 -->
            
        </div><!--  end span-8 -->
        
        <div class="span-8" style="height:360px;">
        
            <div id="HUMIDADE">
		    <h1>{{"{0:0.1f}".format(hum)}}%</h1>
            </div><!--  end HUMIDADE -->
            
            <div id="BOX2">
		    <h1>Santa Maria</h1>
            </div><!--  end BOX2 -->
            
        </div><!--  end span-8 -->
        
        <div class="span-8 last" style="height:360px;">
        
            <div id="HORA">
		    <h2>{{time}}</h2>
            </div><!--  end HORA -->
            
            <div id="CALENDARIO">
		    <h2>{{mes}}&nbsp;{{dia}}<br/>{{sem}}</h2>
            </div><!--  end CALENDARIO -->
            
        </div><!--  end span-8 last -->
        
    </div><!--  end container -->
    
  </body>
</html>
