<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
  <head>
    <!-- File saved as ISO-8859-1 encoding. -->
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>RBP INFO WEATHER STATION</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS Framework -->
    <link rel="stylesheet" href="/static/weather/css/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/weather/css/print.css" type="text/css" media="print">

    <link href="http://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet" type="text/css">
    <!--[if lt IE 8]><link rel="stylesheet" href="/static/css/ie.css" type="text/css" media="screen, projection"><![endif]-->

    <link rel="stylesheet" href="/static/weather/css/normalizeMain.css">
    <link rel="stylesheet" href="/static/weather/css/semanticMain.css" type="text/css" media="screen, projection">

    <!-- Number of columns: 24
         Column width: 34
         Gutter width: 8
         Total width: 1000
         Row height: 18 px  -->

    <!-- To remove div outlines, remove line below.
    <style>div {outline:1px solid #000000;}</style>
    -->

  <script>
  function changePage() {
  var params = new URLSearchParams(location.search);
  	params.set('tipo', 'main');
  	window.location.search = params.toString();
  }
  window.onload = function() { setTimeout (changePage, 9000); }
  </script>
  </head>
  <body>
    <div id="container">
        <div class="span-8" style="height:576px;">
            <div id="BOXSPC"></div>
            <div id="BOXSPC"></div>
            <div id="BOXSPC"></div>
            <div id="BOXSPC"></div>
	        <div id="BOXMAIN"> <h1 class='blue'>{{"{0:0.1f}".format(tempInt)}}&#176C</h1> </div><!--  endBOXMAIN -->
            <div id="BOXSPC"></div>
	        <div id="BOXINFO"> <h1 class='yellow'>{{mes.upper()}}</h1></div><!--  end BOXINFO -->
        </div><!--  end span-8 -->
        
        <div class="span-8" style="height:576px;">
            <div id="BOXSPC"></div>
            <div id="BOXSPC"></div>
            <div id="BOXSPC"></div>
            <div id="BOXSPC"></div>
	        <div id="BOXMAIN"> <h1 class='blue'>{{"{0:0.0f}".format(humInt)}}%</h1>       </div><!--  end BOXMAIN -->
            <div id="BOXSPC"></div>
	        <div id="BOXINFO"> <h1 class='yellow'>{{dia}}</h1></div><!--  end BOXINFO -->
        </div><!--  end span-8 -->
        
        <div class="span-8 last" style="height:576px;">
            <div id="BOXSPC"></div>
            <div id="BOXSPC"></div>
            <div id="BOXSPC"></div>
            <div id="BOXSPC"></div>
            <div id="BOXMAIN"> <h1 class='blue'>{{time}}</h1>                             </div><!--  end BOXMAIN -->
            <div id="BOXSPC"></div>
	        <div id="BOXINFO"> <h1 class='yellow'>{{sem.upper()}}</h1></div><!--  end BOXINFO -->
        </div><!--  end span-8 last -->
    </div><!--  end container -->
  </body>
</html>
